<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>T9-Compliments.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEBD90671E62BA870094CF7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEBD907B1E62BA880094CF7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEBD90861E62BA880094CF7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
